header {
	z-index: 99999;
}
.top-nav {
	background: #1c1c1c;
	.navbar-nav > li > a {
		transition: all .5s ease;
		color: #fff;
		font-size: 12px;
		padding: 12px 15px;
		height:auto;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		background-color: #3c3c3c;
	}
	.nav > li:first-child {
		border-right: 1px solid #2c2c2c;
	}
}
.navbar#main_navbar {
    margin-bottom: 0;
}