footer {
	background: #0f0e0e;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	a {
		color: #fff;
		cursor: pointer;
		transition: all .3s ease;
		&:hover {
			text-decoration: none;
			color: #ec000f;
		}
	}
	.red {
		color: #ec000f;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
.footer-widget {
	background: #1c1c1c;
	padding: 50px 0;
}
.form-subscribe {
	background: #fff;
	position: relative;
	input[type=email] {
		padding: 8px 10px;
		border: none;
		width: 90%;
		color: #000;
	}
	button {
		padding: 8px 10px;
    border: none;
    color: #000;
    right: 0;
    position: absolute;	
	}
}
.widget {
	.title{
		margin: 0;
		&:after {
	    content: "";
	    width: 35px;
	    height: 2px;
	    background-color: #d8d7d5;
	    margin: 15px 0;
	    display: block;
		}
	}
	p {
		margin-bottom: 1em;
	}
	ul {
		list-style: none;
		margin-bottom: 0;
		li {
			line-height: 2.5;
			.fa-li {
				top: 0.642857em;
			}
		}
	}
	.bank {
	  filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	  &:hover {
	  	-webkit-filter: grayscale(.5);
  		filter: grayscale(.5);
	  }
	}
}
.footer-copyright {
	padding: 10px 0;
	.footer-left {
		float: left;
		padding: 18px 0;
	}
	.footer-right {
		float: right;
	}

}
.social-nav {
	> li {
		display: inline-block;
		list-style: none;
		padding: 10px 10px;
		> a {
			color: #fff;
			font-size: 16px;
		}
		&.separator {
	    top: 3px;
	    position: relative;
	    padding: 8px 0;
	    margin: 0 10px;
	    width: 1px;
	    background: #3c3c3c;
		}
	}
}