@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

@import "./_variable";
@import "_bootstrap";

@import "_header";
@import "_footer";

#layerslider {
	background: #e1e1e1;
	margin-top: -22px;
	.ls-bar-timer {
		z-index: 0;
	}
}

.section {
	padding: 60px 0;
}

.sc-title{
	text-align: center;
	margin: 0;
	&:after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #ec000f;
    margin: 15px auto 30px;
    display: block;
	}
}

.product {
	margin-bottom: 40px;
	.product-image {
		background: #e1e1e1;
		padding: 20px;
		img{
			display: inline-block;
		}
	}
	.product-price {
		color: #ec000f;
		margin-bottom: .5em;
		font-size: 16px;
	}
}